.l-body {
  position: relative;
  width: 100%;
}
 
.l-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* 背景を背面に配置 */
  width: 100%;
  height: 300%;
  background-image: url('../img/body-bgi1.jpg');
  background-size: 40% 64%;
  opacity: .7;
  will-change: transform;
}

/* ---------main----------- */

.p-main {
  position: relative;
  z-index: 1;
  width: 75%;
  font-family: serif;
  background-color: #fffaf0;
  background-repeat: repeat;
  box-shadow: 0 0 10px #333;
  margin: auto;
  padding-top: 6vw;
} 

/* ---------hero----------- */

.p-hero {
  position: relative;
  width: 100%;
  height: 14vw;
  box-shadow: 0 0 10px black;
  margin-bottom: 5vw;
}

.p-hero__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 26%;
}

.l-hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.p-hero__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  opacity: 0;
}

.p-hero__overlay-title {
  opacity: 0;
  visibility: hidden;
  transform: translateX(1vw);
  font-size: 3.5vw;
  text-align: center;
  letter-spacing: .3vw;
}

.js-hero.is-active .l-hero__image {
  animation: overlay-fade-in .6s ease-in forwards;
}

.js-hero.is-active .p-hero__overlay {
  animation: overlay-fade-in .6s ease-out forwards;
}

.js-hero.is-active .p-hero__overlay-title {
  animation: slide-in 1s cubic-bezier(.19, .46, .25, .87) forwards;
}

@keyframes overlay-fade-in {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
} 

@keyframes slide-in {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(1vw);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
} 

/* ------------section textbook--------------- */

.p-order {
  width: 85%;
  font-size: 1.2vw;
  text-align: left;
  letter-spacing: .07vw;
  line-height: 1.2;
  margin: auto;
  margin-bottom: 4vw;
}

.p-order-header {
  text-align: center;
  font-size: 2.2vw;
  letter-spacing: .1vw;
  margin-bottom: 4.5vw;
}

.p-order-header::before,
.p-order-header::after {
  content: "";
  display: inline-block;
  width: 20%;
  height: .1vw;
  background-color: black;
  vertical-align: middle;
}

.p-school {
  margin-bottom: 5vw;
}

.c-textbook-order__school {
  font-size: 2vw;
  color: rgb(0, 2, 107);
  margin-bottom: 2.4vw;
}

.p-sale-start {
  margin-bottom: 2.4vw;
}

.p-textbook-release {
  font-size: 1.5vw;
  font-weight: bold;
  list-style: disc;
  margin-bottom: 1.4vw;
}

.p-textbook-release__date {
  font-size: 1.2vw;
  font-weight: normal;
}

.p-textbook-release__text {
  display: inline-block;
  border-bottom: solid .1vw red;
  margin-bottom: .5vw;
}

.p-textbook-supplement {
  margin-bottom: 2.4vw;
}

.c-textbook-supplement__header {
  font-size: 1.6vw;
  font-weight: bold;
  margin-bottom: .6vw;
}

.c-textbook-supplement__detail {
  list-style: disc;
  margin-bottom: .6vw;
}

.p-textbook-info {
  line-height: 1.5;
}

/* ============= sp ============== */

@media(max-width: 430px) {

  body {
    overflow-x: hidden; /* 横スクロールを無効化 */
  }

  .l-layer {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .p-main {
    width: 100%;
    padding-top: 87px;
  }

  .p-hero {
    height: 100px;
    margin-bottom: 3rem;
  }
  
  .p-hero__overlay-title {
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 2px;
  }

  /* contents */

  .p-order {
    letter-spacing: .8px;
    margin-bottom: 3rem;
  }

  .p-order-header {
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }

  .p-order-header::before,
  .p-order-header::after {
    content: "";
    display: inline-block;
    width: 12%;
    height: 1px;
    background-color: black;
    vertical-align: middle;
  }

  .c-textbook-order__school {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .p-school {
    margin-bottom: 2.5rem;
  }

  .p-textbook-release {
    font-size: 1rem;
    margin-bottom: 1.4rem;
  }
  
  .p-textbook-release__text {
    border-bottom: solid 1px red;
    margin-bottom: .2rem;
  }
  
  .p-textbook-release__date {
    font-size: .9rem;
  }

  .p-textbook-supplement {
    margin-bottom: 1.4rem;
  }

  .c-textbook-supplement__header {
    font-size: 1rem;
    margin-bottom: .4rem;
  }

  .c-textbook-supplement__detail {
    font-size: .9rem;
    margin-bottom: .4rem;
  }

  .p-contact-guide {
    font-size: .9rem;
  }

}