.p-footer{
	background-color: black;
  color: white;
  line-height: 1.3;
  padding: 1.4vw 2vw;
}

.p-footer__info {
  display: flex;
  align-items: center;
}

.p-footer__info-name {
  font-weight: bold;
  font-size: 2.2vw;
  margin-bottom: 1.4vw;
}

.p-footer__info-address {
  font-style: normal;
}

.p-footer__info-tel {
  margin-bottom: 1.2vw;
}

.p-footer__info-address,
.p-footer__info-tel,
.p-footer__info-hours,
.p-footer__info-holiday {
  font-size: 1.2vw;
}

.p-footer__social {
  display: flex;
  gap: 2.5vw;
  margin-left: 33vw;
}

.p-footer__social-link {
  display: block;
  width: 3.5vw;
  line-height: 0;
  text-decoration: none;
  transition: .3s;
}

.p-footer__social-link:hover {
  opacity: .7;
}

.p-footer__social-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.p-footer__copyright {
  font-size: .8vw;
  text-align: right;
}

/* ---------------- SP ----------------- */

@media(max-width: 430px){

  .p-footer{
    padding: 18px;
  }  

  .p-footer__info {
    display: block;
    font-size: .9rem;
  }

  .p-footer__info-details {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }

  .p-footer__info-name {
    font-size: 1.2rem;
    margin-bottom: 16px;
  }

  .p-footer__info-tel {
    margin-bottom: 12px;
  }

  .p-footer__info-address,
  .p-footer__info-tel,
  .p-footer__info-hours,
  .p-footer__info-holiday {
    font-size: .8rem;
  }

  .p-footer__social {
    justify-content: flex-start;
    gap: 25px;
    margin: 0;
  }

  .p-footer__social-link {
    width: 38px;
  }

  .p-footer__copyright {
    font-size: .5rem;
  }
}