.l-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; 
  width: 100%;
  height: 300vh;
  background-image: url('../img/body-bgi1.jpg');
  background-size: 37% 72%;
  opacity: .7;
  will-change: transform;
}

.p-main {
  position: relative;
  z-index: 1;
  width: 75%;
  font-family: serif;
  background-repeat: repeat;
  box-shadow: 0 0 10px #333;
  margin: auto;
  padding-top: 7vw;
} 

/* ---------hero----------- */

.p-hero {
  position: relative;
  width: 100%;
  box-shadow: 0 0 10px black;
  margin-bottom: 5vw;
}

.p-hero__image {
  display: block;
  width: 100%;
}

.l-hero__image {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
}

.l-hero__image.is-active {
  animation: overlay-fade-in 1s ease-out forwards;
  animation-delay: 1s;
}

@keyframes overlay-fade-in {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
} 

.p-hero__nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  color: white;
  border-left: solid 3px white;
}

.p-hero__nav.is-active {
  animation: slide-in 1s ease-out forwards;
  animation-delay: 1s;
}

.p-hero__nav-header{
  text-align: center;
  font-weight: bold;
  font-size: 2.8vw;
  letter-spacing: 0.1vw;
  padding: 3vw 0;
}

.p-hero__nav-list {
  font-size: 1.8vw;
  text-align: center;
}

.p-hero__nav-link {
  display: inline-block;
  color: white;
  letter-spacing: 0.1vw;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 2vw 0;
}

.p-hero__nav-link:hover{
  transition: .5s;
  color: black;
  background-color: white;
}

.p-hero__overlay {
  position: absolute;
  top: 12%;
  left: 10%;
  opacity: 0;
  width: 50%;
  color: white;
  visibility: hidden;
  transform: translateX(1vw);
}

.p-hero__overlay.is-active {
  animation: slide-in 1s ease-out forwards;
  animation-delay: 1s;
}

.p-hero__overlay::before,
.p-hero__overlay::after {
  content: '';
  position: absolute;
  width: 100%;
  height: .15vw;
  background-color: #fff;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(1vw);
}

.p-hero__overlay.is-active::before,
.p-hero__overlay.is-active::after {
  animation: slide-in 1s ease-out forwards;
  animation-delay: 1s;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(1vw);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.p-hero__overlay-subtitle__first {
  margin-top: 4vw;
  margin-bottom: 3vw;
}

.p-hero__overlay-subtitle__end {
  margin-bottom: 4vw;
}

.p-hero__overlay-subtitle__first,
.p-hero__overlay-subtitle__end {
  font-size: 1.6vw;
  text-align: center;
  letter-spacing: .3vw;
  line-height: 1.5;
}

.p-hero__overlay-title__Shinanoya {
  font-size: 4vw;
  text-align: center;
  letter-spacing: .7vw;
  margin-bottom: 1vw;
}

.p-hero__overlay-title__Bookstore {
  font-size: 2.2vw;
  text-align: center;
  letter-spacing: .2vw;
  margin-bottom: 2.4vw;
}

/* ------------section--------------- */

.p-section {
  background-color: #fff;
  padding: 4.5vw 2.2vw 10vw;
}

.p-section__title {
  position: relative;
  z-index: 0;
  display: inline-block;
  font-size: 2.4vw;
  color: #511f15;
  letter-spacing: 0.07vw;
  transition: .3s;
  margin-bottom: 3vw;
}

/* section title background text 共通 */
#latest_infomation .p-section__title:first-of-type::after,
#textbook_store .p-section__title:first-of-type::after,
#map .p-section__title:first-of-type::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  font-size: 5.2vw;
  letter-spacing: .07vw;
  transform: translate(-5%, -100%) rotate(90deg);
  transform-origin: left bottom;
}

/* 最新情報 */
#latest_infomation .p-section__title:first-of-type::after {
  content: "News";
  color: var(--color-primary);
}

/* 教科書取扱い店 */
#textbook_store .p-section__title:first-of-type::after {
  content: "Textbook";
  color: #fff;
  opacity: .8;
}

/* アクセスマップ */
#map .p-section__title:first-of-type::after {
  content: "Map";
  color: var(--color-primary);
}

.p-section__title span {
  display: inline-block;
}

.p-section__title span:not(:first-child) {
  opacity: 0;
}

.is-active__first-char {
  opacity: 0;
  animation: p-animation-slide-in-section-title .5s cubic-bezier(.17,.6,.45,.86) forwards, p-animation-fade-in-section-title .3s cubic-bezier(.52,.14,.87,.48) forwards;
}

.is-active__second-char {
  opacity: 0;
  animation: p-animation-slide-in-section-title .5s cubic-bezier(.17,.6,.45,.86) forwards, p-animation-fade-in-section-title .3s cubic-bezier(.52,.14,.87,.48) forwards;
  animation-delay: 1.2s;
}

.is-active__third-char {
  opacity: 0;
  animation: p-animation-slide-in-section-title .5s cubic-bezier(.17,.6,.45,.86) forwards, p-animation-fade-in-section-title .3s cubic-bezier(.52,.14,.87,.48) forwards;
  animation-delay: 1.4s;
}

.is-active__fourth-char {
  opacity: 0;
  animation: p-animation-slide-in-section-title .5s cubic-bezier(.17,.6,.45,.86) forwards, p-animation-fade-in-section-title .3s cubic-bezier(.52,.14,.87,.48) forwards;
  animation-delay: 1.6s;
}

@keyframes p-animation-slide-in-section-title {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes p-animation-fade-in-section-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.p-info__list {
  width: 75%;
  height: 80vh;
  max-height: 600px;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  margin: auto;
}

.p-info__item {
  display: flex;
  width: 95%;
  box-sizing: border-box;
  border-bottom: solid 1px black;
  padding: 1.4vw;
  margin: auto;
}

.c-info__item-img {
  width: 17%;
  min-width: 30px;
  height: auto;
  align-self: flex-start;
  object-fit: contain;
  cursor: pointer;
  margin-right: 2vw;
}

.p-info__item-title {
  width: 100%;
  font-size: 1.8vw;
  color: #3f3f3f;
  line-height: 1.2;
  font-weight: bold;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  margin-bottom: .6vw;
}

.p-info__item-date {
  font-size: 1vw;
  color: #494949;
  margin-bottom: 1.2vw;
}

.p-info__item-text {
  overflow: hidden;
  max-height: calc(1.3em * 3);
  font-size: 1.4vw;
  line-height: 1.3; 
  letter-spacing: .04vw;
  overflow-wrap: break-word;
  word-break: break-all; 
  white-space: normal;
  transition: max-height .3s ease-out;
}

.c-read-more {
  text-align: right;
}

.c-read-more__button {
  background-color: #2400a6;
  font-size: 1vw;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s ease-out;
  padding: .2vw .8vw;
}

.c-read-more__button:hover {
  background-color: #0056b3;
}

.p-section__bgc-brown {
  background-color: var(--color-primary);
}

/* 教科書取扱い店 */

.l-textbook {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 2vw;
}

.p-textbook__store-about {
  width: 43%;
  font-size: 1.4vw;
  color: #43331f;
  font-weight: bold;
  letter-spacing: .07vw;
  line-height: 1.5;
  text-align: center;
}

.p-textbook__store-about__text {
  text-align: left;
  margin-bottom: 5vw;
}

.p-textbook__store-about__link {
  display: inline-block;
  font-size: 1.4vw;
  font-weight: bold;
  color: white;
  background-color: rgb(0, 60, 211);
  border: solid 2px white;
  border-radius: 50px; 
  box-shadow: 1px 1px 7px black;
  text-align: center;
  text-decoration: none;
  transition: .5s;
  padding: .8vw 1vw;
}

.p-textbook__store-about__link:hover {
  color: #1e0076;
  background-color: #ddedff;
  border: solid 2px rgb(0, 12, 174);
}

.p-work__textbook-image {
  width: 40%;
  height: 22vw;
  box-shadow: 1px 1px 7px black;
  overflow: hidden; 
  border: 3px solid rgb(255, 255, 255);
  border-radius: 2px;
}

.p-img-zoom {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.2);
}

/* アクセスマップ */

.l-map {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.p-map {
  width: 65%;
  margin: 0 3vw 0 4vw;
}

.p-map__iframe {
  width: 100%;
  height: 32vw;
  border: solid 2px rgba(96, 33, 1, 0.824);
  border-radius: 5%;
  box-shadow: 5px 5px 7px rgb(71, 67, 67);
}

.p-map__text {
  width: 35%;
  color: #511f15;
  font-size: 1.6vw;
  font-weight: bold;
  text-align: center;
}

.c-access-info {
  display: inline-block;
  position: relative;
  line-height: 1.2;
  margin-bottom: 1vw;
}

.c-access-info::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: .15vw;
  background: #ff1216;
  transition: width 0.6s ease-out;
}

#mapTextWalk.active::before,
#mapTextPlace.active::before {
  width: 100%;
}

/* ============= pad ============== */

@media(max-width: 768px) {

  .p-info__list {
    max-height: 400px;
  }
}

/* ============= sp ============== */

@media(max-width: 430px) {
  body {
    overflow-x: hidden; /* 横スクロールを無効化 */
  }

  .l-layer {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .p-main {
    width: 100%;
    padding-top: 87px;
  }

  .p-hero {
    min-height: calc(100vh - 87px);
    margin-bottom: 10vw;
  }
  
  .p-hero__image {
    min-height: calc(100vh - 87px);
    object-fit: cover;
  }

  .p-hero__nav {
    width: 100%;
    border-left: none;
  }

  .p-hero__nav-header{
    font-size: 2rem;
    padding: 40px 0;
  }

  .p-hero__nav-list {
    display: flex;
    font-size: .9rem;
    font-weight: bold;
  }

  .p-hero__nav-list-item {
    flex: 1;
    border: solid 1px white;
    padding: 30px 0;
  }

  .p-hero__overlay {
    top: 45%;
    width: 80%;
  }

  .p-hero__overlay::before,
  .p-hero__overlay::after {
    height: 1px;
  }

  .p-hero__overlay-subtitle__first,
  .p-hero__overlay-subtitle__end {
    font-size: 1rem;
    text-align: center;
    letter-spacing: 2px;
  }

  .p-hero__overlay-subtitle__first {
    margin-top: 30px;
    margin-bottom: 25px;
  }

  .p-hero__overlay-subtitle__end {
    margin-bottom: 25px;
  }

  .p-hero__overlay-title__Shinanoya {
    font-size: 3rem;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }

  .p-hero__overlay-title__Bookstore {
    font-size: 1.4rem;
    letter-spacing: 1.8px;
    margin-bottom: 20px;
  }

  /* ------------section--------------- */
 
  #latest_infomation,
  #textbook_store,
  #map {
    scroll-margin-top: 85px;
  }

  .p-section {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .p-section__title {
    font-size: 1.8rem;
    margin-bottom: 35px;
  }

  #latest_infomation .p-section__title:first-of-type::after,
  #textbook_store .p-section__title:first-of-type::after,
  #map .p-section__title:first-of-type::after {
    top: 50%;
    left: 5px;
    font-size: 3.8rem;
    transform: translateY(-50%);
  }

  /* news */
  
  .p-info__list {
    width: 80%;
    height: 55vh;
    max-height: 500px;
  }

  .p-info__item {
    border-bottom: solid .6px black;
    padding: 10px 0;
  }

  .c-info__item-img {
    width: 130px;
    margin-right: 10px;
  }

  .p-info__item-title {
    font-size: 1rem;
    margin-bottom: 8px;
  }

  .p-info__item-date {
    font-size: .8rem;
    margin-bottom: 14px;
  }
  
  .p-info__item-text {
    font-size: .8rem;
    letter-spacing: .5px;
  }
  
  .c-read-more__button {
    font-size: .7rem;
    border-radius: 3px;
    margin-top: 2%;
    margin-right: 6%;
    padding: .5% 2%;
  }  

  /* textbook */
  
  .l-textbook {
    display: block;
    justify-content: flex-start;
    align-items: stretch;
  } 

  .p-textbook__store-about {
    width: 90%;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.3;
    text-align: center;
    margin: auto;
  }

  .p-textbook__store-about__text {
    margin-bottom: 30px;
  }

  .p-textbook__store-about__link {
    font-size: 1rem;
    margin-bottom: 55px;
    padding: 10px 12px;
  } 

  .p-work__textbook-image {
    width: 80%;
    height: 220px;
    margin: auto;
  }

  /* map */

  .l-map {
    display: block;
    text-align: center;
  }

  .p-map {
    width: 90%;
    margin-bottom: 50px;
  }

  .p-map__iframe {
    width: 95%;
    height: 300px;
  }

  .p-map__text {
    all: unset;
    display: inline-block;
    position: static;
    transform: translateY(0%);
    width: auto;
    border-radius: 0;
    font-size: 1.2rem;
  }
}