/* 投稿・削除 確認モーダル */

.c-modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  background: rgba(0,0,0,.5);
  transition: opacity .3s ease, visibility .3s ease;
}

.c-modal.is-active {
  opacity: 1;
  visibility: visible;
}

.c-modal__dialog {
  background: white;
  min-width: 100px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

.c-modal__dialog--confirm {
  width: 25%;
  transform: scale(0.5);
  transition: transform 0.3s ease-in-out;
  padding: 4vw 2vw;
}

.c-modal.is-active .c-modal__dialog--confirm {
  transform: scale(1);
}

.c-modal__message {
  font-size: 1.8vw;
}

.c-modal__message--confirm {
  margin-bottom: 3vw;
}

.c-modal__buttons {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.c-modal__button {
  width: 35%;
  border: none;
  border-radius: 10px;
  font-size: 1.8vw;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
  padding: 1vw 0;
}

.c-modal__button:hover {
  opacity: .5;
}

.c-modal__button--yes {
  background: red;
  color: white;
}

.c-modal__button--no {
  background: #ccc;
  color: black;
}

.c-modal__dialog--result {
  padding: 2.6vw;
}

/* 投稿画像クリック時 拡大モーダル */

.c-image-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.c-image-modal.is-active {
  opacity: 1;
  visibility: visible;
}

.c-image-modal__image {
  max-width: 80%;
  max-height: 80%;  
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transform: translateY(2vw);
}

/* ---------------- Pad ----------------- */

@media (max-width: 1024px) {

  .c-modal__dialog--confirm {
    width: 50%;
    padding: 6vw 1vw;
  }

  .c-modal__message {
    font-size: 2.8vw;
  }

  .c-modal__message--confirm {
    margin-bottom: 5vw;
  }

  .c-modal__buttons {
    gap: 5vw; 
  }

  .c-modal__button {
    width: 30%;
    font-size: 2.6vw;
    padding: 1.8vw 0;
  }
}

/* ---------------- SP ----------------- */

@media (max-width: 430px) {

  .c-modal__dialog {
    width: 300px;
  }

  .c-modal__dialog--confirm {
    width: 320px;
    border-radius: 20px;
    padding: 3.5rem 1rem;
  }

  .c-modal__message {
    font-size: 1.4rem;
    line-height: 1.4;
  }

  .c-modal__message--confirm {
    margin-bottom: 3rem;
  }

  .c-modal__buttons {
    gap: 2.4rem;
  }

  .c-modal__button {
    width: 110px;
    font-size: 1.4rem;
    padding: 1rem 0;
  }

  .c-modal__dialog--result {
    padding: 2rem 1.4rem;
  }

}