/* ---------- Handwritten SVG ---------- */

#sample {
  width: 40%;
  position: absolute;
  z-index: 3;
  top: 80%;
  left: 53%;
  transform: translate(-50%,-50%);
}

#base path {
  fill: #000; /* 塗りの色 */
}

#mask path {
  fill: none; /* 塗りの色 */
  stroke: #ffffff; /* 線の色 */
  stroke-width: 10px; /* 線幅 */
  stroke-linecap: round; /* 線端の形状 */
  stroke-linejoin: round; /* 角の形状 */
}

/* ---------- Opening White Layer ---------- */

.p-opening {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(../img/wood.jpg);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: 35% 100%;
}

/* 初期状態：メイン非表示（アニメーション画面表示） */
.p-page {
  display: none;
}

.p-opening-white {
  position: fixed;
  inset: 0;
  background: #fff;
  z-index: 999999;
  pointer-events: none;
  opacity: 1;
  transition: opacity 1s ease;
}

.p-opening-white.is-hide {
  opacity: 0;
}

/* --------- Book Snap Style ---------- */

.booklet .b-counter {
	display: block;
	position: absolute;
	bottom: 10px;
	width: 90%;
	height: 20px;
	border-top: 1px solid #ddd;
	color: #222;
	text-align: center;
	font-size: 12px;
	background: transparent;
	-moz-box-shadow: 0px -1px 1px #fff;
	-webkit-box-shadow: 0px -1px 1px #fff;
	box-shadow: 0px -1px 1px #fff;
	opacity: 0.8;
	padding: 5px 0 0;
}

/* 本の位置・サイズ調整 */

.book_wrapper {
	position: absolute;
  top: 50%;
	left: 50%;
  width: 905px;
  height: 540px;
  transform: translate(-50%, -50%);
	transition: transform .2s ease;
  background: transparent url(../img/book-wrapper.png) no-repeat 9px 27px;
  padding-top: 50px;	
}

.p-book__img-sinanoyashoten {
	margin: 10% 50%;
	width: 10%;
}

.p-book__page5 {
	text-align: center;
}

.p-book__img-TOContents {
	width: 75%;
	margin-top: 20%;
}

/* iPad Pro */
@media (max-width: 1024px) {
  .book_wrapper {
    transform: translate(-50%, -50%) scale(.85);
  }
}

/* iPad Air */
@media (max-width: 820px) {
  .book_wrapper {
    transform: translate(-50%, -50%) scale(.65);
  }
}

@media (max-width: 600px) {
  .book_wrapper {
    transform: translate(-50%, -50%) scale(.46);
  }
}

/* Smart Phone */

@media(max-width: 430px) {

	.book_wrapper{
    transform: translate(-50%, -50%) scale(0.4);
	}	

	.p-book__img-sinanoyashoten {
		width: 13%;
	}

	.p-book__img-TOContents {
		width: 83%;
	}
}