.l-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* 背景を背面に配置 */
  width: 100%;
  height: 300%;
  background-image: url('../img/body-bgi1.jpg');
  background-size: 40% 64%;
  opacity: .7;
  will-change: transform;
}

.l-content {
  width: 75%;
  background-color: var(--color-primary);
  box-shadow: 0 0 10px #333;
  margin: auto;
}

.p-main {
  position: relative;
  z-index: 1;
  padding-top: 7vw;
}

/* ---------hero----------- */

.p-hero {
  position: relative;
  width: 100%;
  height: 14vw;
  box-shadow: 0 0 10px black;
  margin-bottom: 5vw;
}

.p-hero__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}

.l-hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.p-hero__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  opacity: 0;
}

.p-hero__overlay-title {
  opacity: 0;
  visibility: hidden;
  transform: translateX(1vw);
  font-size: 3.5vw;
  text-align: center;
  letter-spacing: .3vw;
}

.js-hero.is-active .l-hero__image {
  animation: overlay-fade-in .6s ease-in forwards;
}

.js-hero.is-active .p-hero__overlay {
  animation: overlay-fade-in .6s ease-out forwards;
}

.js-hero.is-active .p-hero__overlay-title {
  animation: slide-in 1s cubic-bezier(.19, .46, .25, .87) forwards;
}

@keyframes overlay-fade-in {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
} 

@keyframes slide-in {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(1vw);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

/* ------------section privacy policy--------------- */

.p-priv-pol {
  width: 85%;
  font-size: 1.4vw;
  letter-spacing: .07vw;
  line-height: 1.2;
  margin: auto;
  padding-bottom: 3vw;
}

.p-priv-pol__overview {
  margin-bottom: 2.4vw;
}

.p-priv-pol__header {
  text-align: center;
  font-size: 2vw;
  margin-bottom: 2.6vw;
}

.p-priv-pol-lists {
  margin-bottom: 3.5vw;
}

.p-priv-pol-lists-header {
  font-size: 1.7vw;
}

.p-priv-pol-lists-header,
.p-priv-pol-lists-description {
  margin-bottom: 1.6vw;
}

.p-priv-pol-items li {
  list-style-type: disc;
}

.p-priv-pol-list__style-none {
  list-style: none;
}

/* ============= sp ============== */

@media(max-width: 430px){

  body {
    overflow-x: hidden; /* 横スクロールを無効化 */
  }

  .l-layer {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .l-content {
    width: 100%;
  }

  .p-main {
    padding-top: 87px;
  }

  .p-hero {
    height: 100px;
    margin-bottom: 3rem;
  }
  
  .p-hero__overlay-title {
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 2px;
  }

  /* contents */

  .p-priv-pol {
    font-size: .8rem;
    letter-spacing: .4px;
  }

  .p-priv-pol__overview {
    margin-bottom: 1.8rem;
  }

  .p-priv-pol__header {
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-bottom: 1.6rem;
  }

  .p-priv-pol__explanation {
    font-size: .8rem;
  }

  .p-priv-pol-lists {
    margin-bottom: 1.6rem;
  }

  .p-priv-pol-lists-header {
    font-size: .9rem;
  }

  .p-priv-pol-lists-description {
    margin-bottom: .6rem;
  }
}