.l-body {
  position: relative;
  width: 100%;
  /* height: 500%; */
}
 
.l-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* 背景を背面に配置 */
  width: 100%;
  height: 300%;
  background-image: url('../img/body-bgi1.png');
  background-size: 40% 64%;
  opacity: .7;
  will-change: transform;
}

/* ---------header----------- */

.p-breadcrumb-list:first-child::after {
  content: ">";
  display: inline-block;
  margin-left: 3%;
}

/* ---------main----------- */

.p-main {
  position: relative;
  z-index: 1;
  width: 75%;
  font-family: serif;
  background-color: #fffaf0;
  background-repeat: repeat;
  box-shadow: 0 0 10px #333;
} 

.u-main{
  margin: auto;
  padding-top: 6vw;
}

/* ---------hero----------- */

.p-hero {
  position: relative;
  width: 100%;
  height: 30vh;
  box-shadow: 0 0 10px black;
}

.p-hero__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}

.l-hero__image {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: overlay-fadeIn .6s ease-in forwards;
  animation-delay: 1s;
}

.p-hero__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  color: white;
  animation: overlay-fadeIn .6s ease-out forwards;
  animation-delay: 1s;
}

@keyframes overlay-fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
} 

.p-hero__overlay * {
  animation: slide-in 1s cubic-bezier(.19,.46,.25,.87) forwards;
  animation-delay: 1s;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(1vw);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
} 

.p-hero__overlay-title {
  font-size: 3.5vw;
  text-align: center;
  letter-spacing: 3px;
} 

.u-section {
  margin-bottom: 10%;
}

/* ------------section hero--------------- */

.p-section__heading {
  display: flex;
  width: 25%;
  font-size: 150%;
  border-bottom: solid 1.5px;
}

.p-section__title {
  height: 1em;
}

/* ------------section privacy policy--------------- */

.p-priv-pol {
  width: 80%;
  font-size: 1rem;
}

.u-priv-pol {
  line-height: 1.2;
  margin: auto;
  padding-bottom: 5vh;
}

.u-priv-pol__overview {
  margin-bottom: 2rem;
}

.p-priv-pol__header {
  text-align: center;
  font-size: 1.5rem;
}

.u-priv-pol__header {
  margin-bottom: 1.5rem;
}

.p-priv-pol-lists {
  list-style: square;
}

.u-priv-pol-lists {
  margin-bottom: 2rem;
}

.u-priv-pol-lists-title {
  margin-bottom: 1rem;
}

.u-priv-pol-lists-header,
.u-priv-pol-lists-description {
  margin-bottom: 1rem;
}

.p-priv-pol-items {
  list-style-type: disc;
  transform: translateX(1.5vw);
}

.p-priv-pol-items__disc li {
  list-style-type: disc;
}

.p-priv-pol-list__style-none {
  list-style: none;
}

/* ============= sp ============== */

@media(max-width: 430px){

  body {
    overflow-x: hidden; /* 横スクロールを無効化 */
  }

  .l-layer {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .p-main {
    width: 100%;
  }

  .u-main{
    padding-top: 13vh; /* header height: 5vh(fix)のため、同じ高さで位置調整*/
  }

  .p-hero {
    height: 13vh;
  }
  
  .p-hero__overlay-title {
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 2px;
  }

  .u-priv-pol__overview {
    margin-bottom: 10%;
  }

  .p-priv-pol__header {
    font-size: 1.3rem;
  }
}