html,
body {
  min-height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-primary);
}

/* コンテナ */
.p-post {
  display: flex;
  box-sizing: border-box;
  width: 90%;
  max-width: 1200px;
  max-height: 90vh;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 2vw;
}

/* 投稿 */
.p-upload {
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  padding-right: 7vw;
}

.p-current-post {
  box-sizing: border-box;
  width: 28%;
  max-height: 80vh;
  overflow-y: auto;
  background: #c5fffd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 2vw;
}

.p-post__title {
  text-align: center;
  font-size: 2.6vw;
  letter-spacing: .1vw;
  margin-bottom: 2.2vw;
}

.p-form {
  box-sizing: border-box;
  line-height: 1.1;
}

.p-form__label {
  display: inline-block;
  font-size: 1.6vw;
  font-weight: bold;
  cursor: pointer;
}

.p-form__file,
.p-form__image,
.p-form__title,
.p-form__content {
  box-sizing: border-box;
  width: 100%;
}

.p-form__title,
.p-form__content {
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1.4vw;
  line-height: 1.2;
  margin-top: .4vw;
  margin-bottom: 2.6vw;
}

.p-form__file {
  display: flex;
  margin-top: .4vw;
  margin-bottom: 2.6vw;
}

.p-form__image {
  min-width: 0;
  font-size: 1.2vw;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  background-color: white;
  padding: .4vw;
}

.p-form__title {
  height: 2.6vw;
}

.p-form__content {
  height: 8.2vw;
  resize: none;
}

.p-form__submit {
  text-align: center;
}

.p-form__submit-button {
  width: 40%;
  padding: 1vw; 
  background: #28a745;
  color: white;
  font-size: 1.6vw;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}

.p-form__submit-button:hover {
  background: #94f9aa;
  color: black;
}

/* 現在の投稿 */
.p-current-post__item {
  background: white;
  padding: 1vw;
  margin-bottom: .4vw;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  line-height: 1.2;
}

.p-current-post__title {
  width: 100%;
  overflow-wrap: break-word;
  margin-bottom: .6vw;
  color: #333;
  font-size: 1.4vw;
  font-weight: bold;
}

.p-current-post__date {
  font-size: 1vw;
  margin-bottom: .8vw;
  color: #414141;
}

.p-current-post__body {
  display: flex;
  margin-bottom: .8vw;
}

.p-current-post__body-image {
  width: 25%;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 1.4vw;
}

.p-current-post__body-text {
  font-size: 1vw;
  color: #414141;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal; 
}

.p-current-post__delete {
  text-align: right;
}

.p-current-post__delete-button {
  background-color: #dc3545;
  color: white;
  font-size: 1.2vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: .2vw .8vw;
}

.p-current-post__delete-button:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {

  body {
    display: block;
    min-height: auto;
  }

  .p-post {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: none;
    max-height: none;
    height: auto;
    padding: 3vw 6vw;
    border-radius: 0;
    background-color: var(--color-primary);
  }

  /* 投稿 */
  .p-upload {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin-bottom: 12vw;
  }

  .p-post__title {
    font-size: 5vw;
    border-bottom: 1.5px solid rgb(147, 147, 147);
    padding-bottom: 2vw;
    margin-bottom: 5vw;
  }

  .p-form__label {
    font-size: 2.8vw;
  }

  .p-form__file,
  .p-form__title,
  .p-form__content {
    font-size: 2.4vw;
    margin-top: .8vw;
    margin-bottom: 6vw;
  }

  .p-form__title {
    height: 3.6vw;
  }

  .p-form__content {
    height: 14vw;
  }

  .p-form__submit-button {
    font-size: 3vw;
    padding: 2vw 4vw;
    border-radius: 10px;
  }

  /* 現在の投稿 */
  .p-current-post {
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 3vw;
  }

  .p-current-post__list {
    padding: 0 2vw 1vw 2vw;
  }

  .p-current-post__item {
    margin-bottom: 6vw;
    line-height: 1.1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 2vw;
  }
  
  .p-current-post__title {
    width: 100%;
    overflow-wrap: break-word;
    font-size: 3vw;
    margin-bottom: 1.2vw;
  }
  
  .p-current-post__date {
    font-size: 2vw;
    color: #434343;
    margin-bottom: 1.4vw;
  }
  
  .p-current-post__body-image {
    width: 20%;
    margin-right: 3vw;
  }
  
  .p-current-post__body-text {
    font-size: 2.4vw;
    color: black;
  }
  
  .p-current-post__delete-button {
    font-size: 2.6vw;
  }
}

@media (max-width: 430px) {

  .p-post {
    padding: 5vw 8vw;
  }

  /* 投稿 */
  .p-upload {
    margin-bottom: 4.6rem;
  }

  .p-post__title {
    font-size: 2rem;
    padding-bottom: 1.4rem;
    margin-bottom: 1.8rem;
  }

  .p-form__label {
    font-size: 1.4rem;
  }

  .p-form__file,
  .p-form__title,
  .p-form__content {
    font-size: 1rem;
    margin-top: .2rem;
    margin-bottom: 2.6rem;
  }

  .p-form__image {
    font-size: .9rem;
  }

  .p-form__title {
    height: 30px;
  }

  .p-form__content {
    height: 200px;
  }

  .p-form__submit-button {
    width: 220px;
    font-size: 1.4rem;
    padding: .8rem 2rem;
    border-radius: 5px;
  }

  /* 現在の投稿 */
  .p-current-post {
    padding: 1.2rem;
  }

  .p-post__title {
    margin-bottom: 1.4rem;
  }

  .p-current-post__list {
    padding: 0;
  }

  .p-current-post__item {
    margin-bottom: 1.4rem;
    line-height: 1.1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: .4rem;
  }
  
  .p-current-post__title {
    font-size: 1.2rem;
    margin-bottom: .4rem;
  }
  
  .p-current-post__date {
    font-size: .9rem;
    margin-bottom: .6rem;
  }
  
  .p-current-post__body-image {
    width: 80px;
    height: 120px;
  }
  
  .p-current-post__body-text {
    font-size: 1rem;
  }
  
  .p-current-post__delete-button {
    font-size: 1rem;
    padding: .2rem .6rem;
  }
}